.gradle
.classpath
bin/
.DS_Store
build
results
data
full.dot
hasse.dot
src/main/xtend-gen
src/test/xtend-gen
draft-chain-hypothesis.txt
notes.txt
plan.md
scratch/bad.ods
synthetic/1/.prs.types.tsv
synthetic/1/arguments-details.csv
synthetic/1/arguments-details.txt
synthetic/1/arguments.tsv
synthetic/1/index.html
synthetic/1/phylo.newick
synthetic/1/prs.csv
synthetic/1/tipInclusionProbabilities.csv
synthetic/1/executionInfo/.code.sha1
synthetic/1/executionInfo/.java-arguments.txt.sha1
synthetic/1/executionInfo/.jvm-options.txt.sha1
synthetic/1/executionInfo/.main-class.txt.sha1
synthetic/1/executionInfo/.working-dir.txt.sha1
synthetic/1/executionInfo/end-time.txt
synthetic/1/executionInfo/global.sha1
synthetic/1/executionInfo/java-arguments.txt
synthetic/1/executionInfo/jvm-options.txt
synthetic/1/executionInfo/main-class.txt
synthetic/1/executionInfo/start-time.txt
synthetic/1/executionInfo/stderr.txt
synthetic/1/executionInfo/stdout.txt
synthetic/1/executionInfo/working-dir.txt
synthetic/1/executionInfo/code/.classpath.txt.sha1
synthetic/1/executionInfo/code/classpath.txt
synthetic/1/site/Arguments.html
synthetic/1/site/index.html
synthetic/medium50/.prs.types.tsv
synthetic/medium50/arguments-details.csv
synthetic/medium50/arguments-details.txt
synthetic/medium50/arguments.tsv
synthetic/medium50/index.html
synthetic/medium50/phylo.newick
synthetic/medium50/prs.csv
synthetic/medium50/tipInclusionProbabilities.csv
synthetic/medium50/executionInfo/.code.sha1
synthetic/medium50/executionInfo/.java-arguments.txt.sha1
synthetic/medium50/executionInfo/.jvm-options.txt.sha1
synthetic/medium50/executionInfo/.main-class.txt.sha1
synthetic/medium50/executionInfo/.working-dir.txt.sha1
synthetic/medium50/executionInfo/end-time.txt
synthetic/medium50/executionInfo/global.sha1
synthetic/medium50/executionInfo/java-arguments.txt
synthetic/medium50/executionInfo/jvm-options.txt
synthetic/medium50/executionInfo/main-class.txt
synthetic/medium50/executionInfo/start-time.txt
synthetic/medium50/executionInfo/stderr.txt
synthetic/medium50/executionInfo/stdout.txt
synthetic/medium50/executionInfo/working-dir.txt
synthetic/medium50/executionInfo/code/.classpath.txt.sha1
synthetic/medium50/executionInfo/code/classpath.txt
synthetic/medium50/site/Arguments.html
synthetic/medium50/site/index.html
synthetic/small10/.prs.types.tsv
synthetic/small10/arguments-details.csv
synthetic/small10/arguments-details.txt
synthetic/small10/arguments.tsv
synthetic/small10/index.html
synthetic/small10/phylo.newick
synthetic/small10/prs.csv
synthetic/small10/tipInclusionProbabilities.csv
synthetic/small10/executionInfo/.code.sha1
synthetic/small10/executionInfo/.java-arguments.txt.sha1
synthetic/small10/executionInfo/.jvm-options.txt.sha1
synthetic/small10/executionInfo/.main-class.txt.sha1
synthetic/small10/executionInfo/.working-dir.txt.sha1
synthetic/small10/executionInfo/end-time.txt
synthetic/small10/executionInfo/global.sha1
synthetic/small10/executionInfo/java-arguments.txt
synthetic/small10/executionInfo/jvm-options.txt
synthetic/small10/executionInfo/main-class.txt
synthetic/small10/executionInfo/start-time.txt
synthetic/small10/executionInfo/stderr.txt
synthetic/small10/executionInfo/stdout.txt
synthetic/small10/executionInfo/working-dir.txt
synthetic/small10/executionInfo/code/.classpath.txt.sha1
synthetic/small10/executionInfo/code/classpath.txt
synthetic/small10/site/Arguments.html
synthetic/small10/site/index.html
